.cart-background{
  width: 100%;
}

.cart-container{
  width: 1200px;
  margin: 0 auto;
}

.cart-container-title{
  width: 100%;
  height: 150px;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
  font-size: 24px;
}

.cart-sort{
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  line-height: 50px;
  font-size: 18px;
}

.cart-sort-left{

}

.cart-sort-left-checkbox{
  transform: scale(1.5);
}

.cart-sort-right{
  position: absolute;
  right: 0%;
}

.cart-sort-right-select{
  width: 100px;
  height: 30px;
}

/* .cart-container-table{
  width: 100%;
}

.cart-container-table-head{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #F8F8F8;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.cart-container-table-head-product-info{
  width: 700px;
}

.cart-container-table-head-product-cnt{
  width: 50px;
}

.cart-container-table-head-product-price{
  width: 150px;
}

.cart-container-table-head-product-delivery{
  width: 150px;
}

.cart-container-table-head-product-order{
  width: 150px;
}

.cart-container-table-body tr{
  border-bottom: 1px solid #aaa;
}

.cart-container-table-body tr td{
  padding: 20px 0;
  vertical-align: middle;
  text-align: center;
}

.cart-container-table-body-product{
  display: flex;
  align-items : center;
}

.cart-container-table-body-product-checkBox{
  margin-right: 25px;
}

.cart-container-table-body-product-img{
  width: 100px;
  height: 140px;
  background-color: red;
  margin-right: 25px;
  background-size: 100% 100%;
}

.cart-container-table-body-product-info{
  text-align: left
}

.cart-container-table-body-product-sale{
  text-decoration: line-through;
}

.cart-container-table-body-product-title{
  height: 120px;
  width: 200px;
  background-color: yellow;
}

.cart-container-table-body-product-cnt{
  width: 50px;
}

.cart-container-table-body-product-order{
  margin: 0 auto;
  line-height: 30px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  background-color: #AD9377;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.cart-container-table-product-remove{
  margin: 0 auto;
  line-height: 30px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: 1px solid #aaa;
  cursor: pointer;
} */

.cart-emtpy{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.cart-receipt{
  width: 100%;
  margin-top: 50px;
  height: 100px;
  border: 1px solid #aaa;
  display: flex;
}

.cart-receipt-content{
  width: 25%;
}

.cart-receipt-content-title{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #aaa;
  line-height: 40px;
  text-align: center;
  background-color: #F8F8F8;
}

.cart-receipt-content-money{
  width: 100%;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.purchase-btn{
  margin: 50px auto;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #AD9377;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.cart-link-purchase{
  text-decoration: none;
  color: #fff;
}

.cart-link-purchase:link{
  color: #fff;
}

.cart-link-purchase:visited{
  color: #fff;
}

@media screen and (max-width: 1200px){
  .cart-container{
    width: 760px;
  }

  /* .cart-container-table-head-product-info{
    width: 410px;
  }
  
  .cart-container-table-head-product-price{
    width: 100px;
  }
  
  .cart-container-table-head-product-delivery{
    width: 100px;
  }
  
  .cart-container-table-head-product-order{
    width: 100px;
  } */
}

@media screen and (max-width: 768px){
  .cart-container{
    width: 95%;
  }

  .cart-container-title{
    height: 100px;
    line-height: 100px;
  }

  .cart-receipt{
    display: block;
    width: 100%;
    margin-top: 50px;
    border: none;
  }
  
  .cart-receipt-content{
    width: 100%;
    display: flex;
  }

  .cart-receipt-content:first-child{
    border-top: 1px solid #aaa;
  }
  
  .cart-receipt-content-title{
    height: 40px;
    border-bottom: 1px solid #aaa;
    line-height: 40px;
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
  }
  
  .cart-receipt-content-money{
    text-align: right;
    border-bottom: 1px solid #aaa;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
  }

  .purchase-btn{
    margin-top: 100px;
    width: 100%;
  }
}