.cart-background{

}

.cart-container{
  width: 1200px;
  margin: 0 auto;
}

.cart-container-title{
  width: 500px;
  height: 150px;
  margin: 0 auto;
  line-height: 150px;
  text-align: center;
  font-size: 24px;
}

.cart-container-table{
  width: 100%;
}

.cart-container-table-head{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #F8F8F8;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.cart-container-table-head-product-info{
  width: 700px;
}

.cart-container-table-head-product-cnt{
  width: 50px;
}

.cart-container-table-head-product-price{
  width: 150px;
}

.cart-container-table-head-product-delivery{
  width: 150px;
}

.cart-container-table-head-product-order{
  width: 150px;
}

.cart-container-table-body tr{
  border-bottom: 1px solid #aaa;
}

.cart-container-table-body tr td{
  padding: 20px 0;
  vertical-align: middle;
  text-align: center;
}

.cart-container-table-body-product{
  display: flex;
  align-items : center;
}

.cart-container-table-body-product-checkBox{
  margin-right: 25px;
}

.cart-container-table-body-product-img{
  width: 100px;
  height: 140px;
  background-color: red;
  margin-right: 25px;
  background-size: 100% 100%;
}

.cart-container-table-body-product-title{
  height: 120px;
  width: 200px;
  background-color: yellow;
}

.cart-container-table-body-product-cnt{
  width: 50px;
}

.cart-container-table-body-product-order{
  margin: 0 auto;
  line-height: 30px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  background-color: #AD9377;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.cart-container-table-product-remove{
  margin: 0 auto;
  line-height: 30px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: 1px solid #aaa;
  cursor: pointer;
}

@media screen and (max-width: 1200px){
  .cart-container{
    width: 760px;
  }

  .cart-container-table-head-product-info{
    width: 410px;
  }
  
  .cart-container-table-head-product-price{
    width: 100px;
  }
  
  .cart-container-table-head-product-delivery{
    width: 100px;
  }
  
  .cart-container-table-head-product-order{
    width: 100px;
  }
}