.cart-mobile-header{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #777;
  box-sizing: border-box;
  color: #fff;
  display: flex;
}

.cart-mobile-title{
  width: 98%;
  padding-left: 20px;
}

.cart-mobile-header-btn{
  width: 2%;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.cart-mobile-products-list{
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.cart-mobile-products-list-product{
  width: 100%;
}

.cart-mobile-products-list-product-header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
}

.cart-mobile-products-list-product-header-group{
  width: 98%;
}

.cart-mobile-products-list-product-header-checkbox{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.cart-mobile-products-list-product-header-remove-btn{
  cursor: pointer;
  width: 2%;
  font-size: 20px;
  padding-right: 20px;
}

.cart-mobile-products-list-product-body{
  width: 100%;
  height: 120px;
  display: flex;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
}

.cart-mobile-products-list-product-body-img{
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin-right: 12px;
}

.cart-mobile-products-list-product-body-info{
  width: 200px;
  height: 100px;
  padding-top: 25px;
  box-sizing: border-box;
}

.cart-mobile-products-list-product-body-info-price{
  margin-bottom: 10px;
}

.cart-mobile-products-list-product-body-info-price-sale{
  font-size: 12px;
}

.cart-mobile-products-list-product-body-info-delivery{
  font-size: 12px;
}

.cart-mobile-products-list-product-foot{
  width: 100%;
  height: 60px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 20px;
  position: relative;
  display: flex;
  border-bottom: 1px solid #aaa;
}

.cart-mobile-products-list-product-foot-cnt{
  display: flex;
}

.cart-mobile-products-list-product-foot-cnt-input{
  height: 28px;
  width: 30px;
  border: 1px solid #aaa;
  border-right: none;
  border-left: none;
}

.cart-mobile-products-list-product-foot-cnt-btn{
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #aaa;
  line-height: 25px;
  cursor: pointer;
}

.border-left{
  border-right: none;
}

.border-right{
  border-left: none;
}

.cart-mobile-products-list-product-foot-btn{
  max-width: 60px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #AD9377;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 2%;
}