.detail-background{
  padding-top: 70px;
  position: relative;
}

.detail-container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container-item{
  width: 100%;
  height: 700px;
  display: flex;
  margin: 0 auto;
}

.container-item-img{
  width: 700px;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container-item-info{
  width: 500px;
  height: 100%;
  padding-left: 100px;
}

.container-item-info-title{
  margin-bottom: 30px;
  font-size: 24px;
}

.detail-hrTag{
  background-color: #aaa;
  height: .1px;
  opacity: .3;
  margin-bottom: 30px;
}

.container-item-info-detail{
  width: 100%;
  margin-bottom: 30px;
}

.container-item-info-detail table{
  width: 100%;
}

.container-item-info-detail-td-select{
  width: 100%;
}

.container-item-info-detail-td-left{
  width: 20%;
}

.before-sale{
  text-decoration: line-through;
}

.container-item-info-detail tr td{
  height: 50px;
}

.detail-selected-hrTag{
  background-color: #aaa;
  height: .1px;
  opacity: .3;
  margin-bottom: 15px;
}

.container-item-info-detail-selected{
  width: 100%;
  height: 35px;
}

.container-item-info-detail-selected-title{
  width: 45%;
}

.container-item-info-detail-td-selected-cnt{
  width: 33%;
  display: flex;
}

.container-item-info-detail-td-selected-cnt input{
  width: 50px;
  margin: 0 auto;
  margin-right: 15px;
}

.container-item-info-detail-td-selected-cnt span{
  cursor: pointer;
}

.container-item-info-detail-td-selected-price{
  text-align: right;
}

.container-item-info-total{
  text-align: right;
  margin-bottom: 50px;
}

.container-item-info-btns{
  display: flex;
}

.container-item-info-btns-buy{
  width: 48%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #ad9377;
  margin-right: 4%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 25px;
}

.container-item-info-btns-cart{
  width: 48%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.to-cart-alert-box-container{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 200px;
  display: none;
}

.select-size-alert_box-container{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 200px;
  display: none;
}

.alert-box{
  width: 350px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
}

.alert-box-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #B8A99A;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-bottom: 40px;
}

.alert-box-X-btn{
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.alert-box-info{
  margin: 0 auto;
  width: 300px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.alert-box-btns{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
}

.alert-box-btn{
  width: 70px;
  height: 25px;;
  text-align: center;
  line-height: 25px;
  border-radius: 7px;
  cursor: pointer;
}

.alert-box-btn-yes{
  background-color: #AD9377;
  color: #fff;
  margin-right: 5px;
}

.alert-box-btn-no{
  border: 1px solid #000;
}

.alert-box-btn-no-select{
  margin: 0 auto;
}

.alert-box-info-state{
  margin-bottom: 5px;
}

.alert-box-info-ask{
  font-size: 14px;
}

.link-cart{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.link-cart:link{
  color: #fff;
}

.link-cart:visited{
  color: #fff;
}

.link-purchase{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.link-purchase:link{
  color: #fff;
}

.link-purchase:visited{
  color: #fff;
}

@media screen and (max-width: 1200px){
  .detail-container{
    width: 760px;
  }

  .container-item{
    height: 400px;
  }

  .container-item-img{
    max-width: 700px;
    width: 100%;
  }

  .container-item-info{
    max-width: 300px;
    padding-left: 40px;
  }

  .container-item-info-detail-td-left{
    width: 35%;
  }
}

@media screen and (max-width: 768px){
  .detail-background{
    padding-top: 35px;
    height: 100%;
  }

  .detail-container{
    width: 95%;
  }

  .container-item{
    display: block;
  }

  .container-item-img{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .container-item-info{
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 50px;
  }

  .container-item-info-detail-td-left{
    width: 25%;
  }

  .container-item-info-btns{
    width: 100%;
  }

  .alert-box-container{
    top: 400px;
  }
  
  .alert-box{
    height: 180px;
    max-width: 350px;
    width: 70%;
    margin-top: 325px;
  }

  .alert-box-title{
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .alert-box-X-btn{
    font-size: 16px;
  }
}