.purchase-background{
  width: 100%;
}

.purchase-container{
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .purchase-container{
    width: 760px;
  }
}

@media screen and (max-width: 768px){
  .purchase-container{
    width: 95%;
  }
}