.quick{
  height: 1200px;
  padding-top: 120px;
}

.quick-top-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.quick-top-info{
  text-align: center;
  color: #aaa;
  margin-bottom: 50px;
}

.showQuick-items{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.showQuick-item{
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 270px;
  height: 400px;
  cursor: pointer;
  background-color: red;
}