.quick{
  padding-top: 120px;
}

.quick-top-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.quick-top-info{
  text-align: center;
  color: #aaa;
  margin-bottom: 50px;
}

.showQuick-items{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}

.showQuick-item{
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 150px;
  width: 270px;
  height: 400px;
}

.showQuick-item-img{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.showQuick-item-info{
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding-top: 15px;
}

.showQuick-item-info-title{
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.split-line{
  opacity: .3;
  margin-bottom: 15px;
}

.line{
  text-decoration: line-through;
}

.price{
  font-size: 16px;
}

.link{
  text-decoration: none;
}

.link:link{
  color: #000;
}

.link:visited{
  color: #000;
}

@media screen and (max-width: 1200px){
  .showQuick-items{
    width: 740px;
    height: 400px;
  }
  
  .showQuick-item{
    width: 215px;
    height: 350px;
  }
}

@media screen and (max-width: 768px){
  .showQuick-items{
    width: 95%;
    height: 100px;
  }
  
  .showQuick-item{
    box-sizing: border-box;
    width: 100px;
    height: 100%;
    margin-right: 10px;
  }

  .showQuick-item-info-title{
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .split-line{
    opacity: .3;
    margin-bottom: 15px;
  }

  .price{
    font-size: 12px;
  }
}