.Container{
  height: 1100px;
  padding-top: 120px;
  background-color: #f8f8f8;
}

.WeeklyBest{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.WeeklyBest-Top-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.WeeklyBest-Top-info{
  text-align: center;
  color: #aaa;
  margin-bottom: 50px;
}

.WeeklyBest-main-menus{
  width: 740px;
  margin: 0 auto;
  display: flex;
}

.WeeklyBest-main-menu{
  line-height: 50px;
  width: 120px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  color: #999;
}

.WeeklyBest-main-menus div:first-child{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.WeeklyBest-main-menus div:last-child{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.WeeklyBest-selected{
  color: #fff;
  background-color: #ad9377;
}


.best-carousel{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.best-carousel-container{
  width: 100%;
  height: 950px;
  display: flex;
  transition: 1s;
}

.best-carousel-items{
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  height: 500px;
}

.best-carousel-item{
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 270px;
  height: 400px;
}

.best-carousel-item-img{
  width: 100%;
  height: 100%;
  position: relative;
}

.best-carousel-item-info{
  width: 100%;
  height: 30%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 25px;
  opacity: 0;
  transition: .5s;
}

.best-carousel-item-img:hover .best-carousel-item-info{
  opacity: 1;
}

.best-carousel-item-name{
  font-size: 20px;
  margin-bottom: 20px;
}

.line{
  text-decoration: line-through;
}