.header{
  width: 1200px;
  margin: 0 auto;
}

.headerTop{
  height: 30px;
  line-height: 30px;
  position: relative;
  margin-bottom: 15px;
}

.myMenu{
  position: absolute;
  display: flex;
  right: 0;
}

.myMenu li{
  cursor: pointer;
  color: #aaa;
}

.myMenu-margin{
  margin-right: 20px;
}

.logo{
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.menus{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.menus ul{
  display: inline-block;
  margin: 0 auto;
  flex-wrap: wrap;
}

.menus ul li{
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menus ul li:first-child{
  margin-left: 0;
}