.header{
  max-width: 1140px;
  margin: 0 auto;
}

.headerTop{
  height: 30px;
  line-height: 30px;
  position: relative;
}

.myMenu{
  position: absolute;
  display: flex;
  right: 0;
}

.myMenu li{
  cursor: pointer;
  color: #aaa;
}

.myMenu-margin{
  margin-right: 12px;
}

.logo{
  display: block;
  margin: 0 auto;
  cursor: pointer;
}