.header{
  max-width: 1200px;
  margin: 0 auto;
}

.headerTop{
  height: 30px;
  width: 100%;
  line-height: 30px;
  position: relative;
  margin-bottom: 15px;
}

.myMenu{
  position: absolute;
  display: flex;
  right: 0;
}

.myMenu li{
  cursor: pointer;
  color: #aaa;
}

.myMenu-margin{
  margin-right: 20px;
}

.logo{
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.menus{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.menus ul{
  width: 100px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menus ul li:first-child{
  margin-left: 0;
}

.app-hrTag{
  margin-bottom: 0;
  background-color: #aaa;
  opacity: .3;
  height: .1px;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: #555;
}

.link:link{
  color: #000;
}

.link:visited{
  color: #000;
}

@media screen and (max-width: 1200px){
  .menus{
    width: 740px;
  }
  
  .menus ul{
    width: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){
  .menus{
    flex-wrap: nowrap;
  }

  .menus ul{
    font-size: 14px;
  }

  .mobile-menu{
    width: 100%;
    overflow: auto;
  }
}